# Carga de datos

In [88]:
import pandas as pd

# Cargar el dataset
credit = pd.read_csv("credits.csv")
movies = pd.read_csv("movies_dataset.csv")

C:\Users\pablo\AppData\Local\Temp\ipykernel_18088\4280206630.py:5: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies = pd.read_csv("movies_dataset.csv")

In [45]:
movies

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [46]:
# Ver las primeras filas del dataset para tener una idea general

print(movies.columns)

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

# TRANSFORMACIONES

# Desanidados de datos

In [89]:
import ast
# Convertir la columna 'belongs_to_collection' en diccionarios si están en formato de string
movies['belongs_to_collection'] = movies['belongs_to_collection'].apply(
    lambda x: ast.literal_eval(x) if isinstance(x, str) else x
)

# Extraer el nombre de la colección si existe y guardarlo en una nueva columna
collection_name= movies['belongs_to_collection'].apply(
    lambda x: x['name'] if isinstance(x, dict) and 'name' in x else None
)

collection_name

0                  Toy Story Collection
1                                  None
2             Grumpy Old Men Collection
3                                  None
4        Father of the Bride Collection
                      ...
45461                              None
45462                              None
45463                              None
45464                              None
45465                              None
Name: belongs_to_collection, Length: 45466, dtype: object

In [90]:
# Convertir la columna 'genres' en listas de diccionarios si están en formato de string
movies['genres'] = movies['genres'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else [])

# Extraer solo los nombres de los géneros y unirlos en una sola cadena separada por comas
genres_names = movies['genres'].apply(lambda x: ', '.join([genre['name'] for genre in x if isinstance(genre, dict) and 'name' in genre]))

genres_names

0         Animation, Comedy, Family
1        Adventure, Fantasy, Family
2                   Romance, Comedy
3            Comedy, Drama, Romance
4                            Comedy
                    ...
45461                 Drama, Family
45462                         Drama
45463       Action, Drama, Thriller
45464
45465
Name: genres, Length: 45466, dtype: object

In [91]:

# Convertir la columna 'production_companies' en listas de diccionarios si están en formato de string
movies['production_companies'] = movies['production_companies'].apply(
    lambda x: ast.literal_eval(x) if isinstance(x, str) else []
)

# Extraer solo los nombres de las compañías y unirlos en una sola cadena separada por comas
production_companies_names = movies['production_companies'].apply(
    lambda x: ', '.join([company['name'] for company in x if isinstance(company, dict) and 'name' in company]) if isinstance(x, list) else ""
)

production_companies_names

0                                  Pixar Animation Studios
1        TriStar Pictures, Teitler Film, Interscope Com...
2                             Warner Bros., Lancaster Gate
3                   Twentieth Century Fox Film Corporation
4               Sandollar Productions, Touchstone Pictures
                               ...
45461
45462                                          Sine Olivia
45463                              American World Pictures
45464                                            Yermoliev
45465
Name: production_companies, Length: 45466, dtype: object

In [92]:

# Convertir la columna 'production_companies' en listas de diccionarios si están en formato de string
movies['production_countries'] = movies['production_countries'].apply(
    lambda x: ast.literal_eval(x) if isinstance(x, str) else []
)

# Extraer solo los nombres de las compañías y unirlos en una sola cadena separada por comas
production_countries_names = movies['production_countries'].apply(
    lambda x: ', '.join([company['name'] for company in x if isinstance(company, dict) and 'name' in company]) if isinstance(x, list) else ""
)

production_countries_names

0        United States of America
1        United States of America
2        United States of America
3        United States of America
4        United States of America
                   ...
45461                        Iran
45462                 Philippines
45463    United States of America
45464                      Russia
45465              United Kingdom
Name: production_countries, Length: 45466, dtype: object

In [93]:
# Convertir la columna 'spoken_languages' en listas de diccionarios si están en formato de string
movies['spoken_languages'] = movies['spoken_languages'].apply(
    lambda x: ast.literal_eval(x) if isinstance(x, str) else []
)

# Extraer solo los nombres de los lenguajes y unirlos en una sola cadena separada por comas
spoken_languages_names = movies['spoken_languages'].apply(
    lambda x: ', '.join([company['name'] for company in x if isinstance(company, dict) and 'name' in company]) if isinstance(x, list) else ""
)

spoken_languages_names

0                  English
1        English, Français
2                  English
3                  English
4                  English
               ...
45461                فارسی
45462
45463              English
45464
45465              English
Name: spoken_languages, Length: 45466, dtype: object

Archivo Credits

In [94]:
# Convertir la columna 'cast' en listas de diccionarios si están en formato de string
credit['cast'] = credit['cast'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else [])

# Extraer solo los nombres de los actores y unirlos en una sola cadena separada por comas
credit['cast'] = credit['cast'].apply(lambda x: ', '.join([genre['name'] for genre in x[:3] if isinstance(genre, dict) and 'name' in genre]))


credit['cast']

0                        Tom Hanks, Tim Allen, Don Rickles
1             Robin Williams, Jonathan Hyde, Kirsten Dunst
2                 Walter Matthau, Jack Lemmon, Ann-Margret
3          Whitney Houston, Angela Bassett, Loretta Devine
4                 Steve Martin, Diane Keaton, Martin Short
                               ...
45471            Leila Hatami, Kourosh Tahami, Elham Korda
45472             Angel Aquino, Perry Dizon, Hazel Orencio
45473           Erika Eleniak, Adam Baldwin, Julie du Page
45474    Iwan Mosschuchin, Nathalie Lissenko, Pavel Pavlov
45475
Name: cast, Length: 45476, dtype: object

In [95]:
# Convertir la columna 'cast' en listas de diccionarios si están en formato de string
credit['crew'] = credit['crew'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else [])


# Función para extraer el valor de "name" de los registros con "job" igual a "Director"
def extraer_director(var):
    for v in var:
        if v['job'] == 'Director':
            return v['name']
    return None


# Extraer solo los nombres del director 
credit['name_director'] = credit['crew'].apply(lambda x: extraer_director(x))

In [96]:
credit.head()

,cast,crew,id,name_director
0,"Tom Hanks, Tim Allen, Don Rickles","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,John Lasseter
1,"Robin Williams, Jonathan Hyde, Kirsten Dunst","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,Joe Johnston
2,"Walter Matthau, Jack Lemmon, Ann-Margret","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,Howard Deutch
3,"Whitney Houston, Angela Bassett, Loretta Devine","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,Forest Whitaker
4,"Steve Martin, Diane Keaton, Martin Short","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,Charles Shyer

In [97]:
credit.drop('crew', axis=1, inplace=True)

In [98]:
movies['belongs_to_collection'] = collection_name
movies['genres'] = genres_names
movies['production_companies'] = production_companies_names
movies['production_countries'] = production_countries_names
movies['spoken_languages'] = spoken_languages_names

movies

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,Toy Story Collection,30000000,"Animation, Comedy, Family",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,English,Released,NaN,Toy Story,False,7.7,5415.0
1,False,None,65000000,"Adventure, Fantasy, Family",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"English, Français",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,Grumpy Old Men Collection,0,"Romance, Comedy",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,English,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,None,16000000,"Comedy, Drama, Romance",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,English,Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,Father of the Bride Collection,0,Comedy,NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,English,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,None,0,"Drama, Family",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,فارسی,Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,None,0,Drama,NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,,Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,None,0,"Action, Drama, Thriller",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,English,Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,None,0,,NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,,Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,None,0,,NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,English,Released,NaN,Queerama,False,0.0,0.0

In [99]:
# Convertir la columna a int64
movies = movies[movies['id'].str.isdigit()]

credit['id'] = credit['id'].astype('int64')
movies['id'] = movies['id'].astype('int64')

C:\Users\pablo\AppData\Local\Temp\ipykernel_18088\1953307922.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['id'] = movies['id'].astype('int64')

In [100]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45463 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45463 non-null  object
 1   belongs_to_collection  4491 non-null   object
 2   budget                 45463 non-null  object
 3   genres                 45463 non-null  object
 4   homepage               7779 non-null   object
 5   id                     45463 non-null  int64
 6   imdb_id                45446 non-null  object
 7   original_language      45452 non-null  object
 8   original_title         45463 non-null  object
 9   overview               44509 non-null  object
 10  popularity             45460 non-null  object
 11  poster_path            45077 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45376 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45463 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), int64(1), object(19)
memory usage: 8.7+ MB

In [101]:


# Combinar los DataFrames en función de la columna 'id'
movies_full = pd.merge(movies, credit, on='id', how='inner')

In [102]:
movies_full

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,name_director
0,False,Toy Story Collection,30000000,"Animation, Comedy, Family",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,81.0,English,Released,NaN,Toy Story,False,7.7,5415.0,"Tom Hanks, Tim Allen, Don Rickles",John Lasseter
1,False,None,65000000,"Adventure, Fantasy, Family",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,104.0,"English, Français",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"Robin Williams, Jonathan Hyde, Kirsten Dunst",Joe Johnston
2,False,Grumpy Old Men Collection,0,"Romance, Comedy",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,101.0,English,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"Walter Matthau, Jack Lemmon, Ann-Margret",Howard Deutch
3,False,None,16000000,"Comedy, Drama, Romance",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,127.0,English,Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,"Whitney Houston, Angela Bassett, Loretta Devine",Forest Whitaker
4,False,Father of the Bride Collection,0,Comedy,NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,106.0,English,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,"Steve Martin, Diane Keaton, Martin Short",Charles Shyer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45533,False,None,0,"Drama, Family",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,90.0,فارسی,Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0,"Leila Hatami, Kourosh Tahami, Elham Korda",Hamid Nematollah
45534,False,None,0,Drama,NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,360.0,,Released,NaN,Century of Birthing,False,9.0,3.0,"Angel Aquino, Perry Dizon, Hazel Orencio",Lav Diaz
45535,False,None,0,"Action, Drama, Thriller",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,90.0,English,Released,A deadly game of wits.,Betrayal,False,3.8,6.0,"Erika Eleniak, Adam Baldwin, Julie du Page",Mark L. Lester
45536,False,None,0,,NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,87.0,,Released,NaN,Satan Triumphant,False,0.0,0.0,"Iwan Mosschuchin, Nathalie Lissenko, Pavel Pavlov",Yakov Protazanov
45537,False,None,0,,NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,75.0,English,Released,NaN,Queerama,False,0.0,0.0,,Daisy Asquith

# Valores nulos

In [103]:
nulos_columna = movies_full['release_date'].isna().sum()

print("Valores nulos ", nulos_columna)

Valores nulos  87

In [104]:
# Asegurarse de que 'revenue' y 'budget' no tengan valores nulos y sean numéricos
movies_full['revenue'] = pd.to_numeric(movies_full['revenue'], errors='coerce').fillna(0)
movies_full['budget'] = pd.to_numeric(movies_full['budget'], errors='coerce').fillna(0)

In [105]:
movies_full = movies_full.dropna(subset=['release_date'])

# Convertir 'release_date' al formato de fecha AAAA-mm-dd
movies_full['release_date'] = pd.to_datetime(movies_full['release_date'], errors='coerce').dt.strftime('%Y-%m-%d')

C:\Users\pablo\AppData\Local\Temp\ipykernel_18088\4096354455.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_full['release_date'] = pd.to_datetime(movies_full['release_date'], errors='coerce').dt.strftime('%Y-%m-%d')

# Fecha

In [106]:
print(movies_full['release_date'].head(10))

0    1995-10-30
1    1995-12-15
2    1995-12-22
3    1995-12-22
4    1995-02-10
5    1995-12-15
6    1995-12-15
7    1995-12-22
8    1995-12-22
9    1995-11-16
Name: release_date, dtype: object

In [107]:
# Crear la columna 'release_year' extrayendo solo el año
movies_full['release_year'] = pd.to_datetime(movies_full['release_date'], errors='coerce').dt.year

C:\Users\pablo\AppData\Local\Temp\ipykernel_18088\1855419232.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_full['release_year'] = pd.to_datetime(movies_full['release_date'], errors='coerce').dt.year

# Retorno de inversion

In [108]:

# Calcular el retorno de inversión (revenue / budget) y asignar 0 donde no es posible calcular
movies_full['return'] = movies_full.apply(lambda x: x['revenue'] / x['budget'] if x['budget'] > 0 else 0, axis=1)

# Mostrar las primeras filas para verificar el cálculo
print(movies_full[['title', 'revenue', 'budget', 'return']].head(10))

                         title      revenue    budget     return
0                    Toy Story  373554033.0  30000000  12.451801
1                      Jumanji  262797249.0  65000000   4.043035
2             Grumpier Old Men          0.0         0   0.000000
3            Waiting to Exhale   81452156.0  16000000   5.090760
4  Father of the Bride Part II   76578911.0         0   0.000000
5                         Heat  187436818.0  60000000   3.123947
6                      Sabrina          0.0  58000000   0.000000
7                 Tom and Huck          0.0         0   0.000000
8                 Sudden Death   64350171.0  35000000   1.838576
9                    GoldenEye  352194034.0  58000000   6.072311

C:\Users\pablo\AppData\Local\Temp\ipykernel_18088\2268304797.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_full['return'] = movies_full.apply(lambda x: x['revenue'] / x['budget'] if x['budget'] > 0 else 0, axis=1)

# Eliminacion de columnas

In [109]:
# Eliminar las columnas que no serán utilizadas
movies_full = movies_full.drop(columns=['video', 'imdb_id', 'adult', 'original_title', 'poster_path', 'homepage'], errors='ignore')

# Mostrar las primeras filas para verificar que las columnas se han eliminado
print(movies_full.head())

            belongs_to_collection    budget                      genres  \
0            Toy Story Collection  30000000   Animation, Comedy, Family
1                            None  65000000  Adventure, Fantasy, Family
2       Grumpy Old Men Collection         0             Romance, Comedy
3                            None  16000000      Comedy, Drama, Romance
4  Father of the Bride Collection         0                      Comedy

      id original_language                                           overview  \
0    862                en  Led by Woody, Andy's toys live happily in his ...
1   8844                en  When siblings Judy and Peter discover an encha...
2  15602                en  A family wedding reignites the ancient feud be...
3  31357                en  Cheated on, mistreated and stepped on, the wom...
4  11862                en  Just when George Banks has recovered from his ...

  popularity                               production_companies  \
0  21.946943                            Pixar Animation Studios
1  17.015539  TriStar Pictures, Teitler Film, Interscope Com...
2    11.7129                       Warner Bros., Lancaster Gate
3   3.859495             Twentieth Century Fox Film Corporation
4   8.387519         Sandollar Productions, Touchstone Pictures

       production_countries release_date  ...   spoken_languages    status  \
0  United States of America   1995-10-30  ...            English  Released
1  United States of America   1995-12-15  ...  English, Français  Released
2  United States of America   1995-12-22  ...            English  Released
3  United States of America   1995-12-22  ...            English  Released
4  United States of America   1995-02-10  ...            English  Released

                                             tagline  \
0                                                NaN
1          Roll the dice and unleash the excitement!
2  Still Yelling. Still Fighting. Still Ready for...
3  Friends are the people who let you be yourself...
4  Just When His World Is Back To Normal... He's ...

                         title vote_average vote_count  \
0                    Toy Story          7.7     5415.0
1                      Jumanji          6.9     2413.0
2             Grumpier Old Men          6.5       92.0
3            Waiting to Exhale          6.1       34.0
4  Father of the Bride Part II          5.7      173.0

                                              cast    name_director  \
0                Tom Hanks, Tim Allen, Don Rickles    John Lasseter
1     Robin Williams, Jonathan Hyde, Kirsten Dunst     Joe Johnston
2         Walter Matthau, Jack Lemmon, Ann-Margret    Howard Deutch
3  Whitney Houston, Angela Bassett, Loretta Devine  Forest Whitaker
4         Steve Martin, Diane Keaton, Martin Short    Charles Shyer

  release_year     return
0         1995  12.451801
1         1995   4.043035
2         1995   0.000000
3         1995   5.090760
4         1995   0.000000

[5 rows x 22 columns]

In [111]:
print(movies_full.columns)

Index(['belongs_to_collection', 'budget', 'genres', 'id', 'original_language',
       'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'cast', 'name_director', 'release_year', 'return'],
      dtype='object')

In [ ]:

# Exportar el DataFrame a un archivo CSV
# Filtrar las películas lanzadas después de 1990 al 2000
movies_full = movies_full[(movies_full['release_year'] > 1990) & (movies_full['release_year'] < 2000)]
movies_full.to_csv("movies_transform.csv", index=False)

            belongs_to_collection    budget                      genres  \
0            Toy Story Collection  30000000   Animation, Comedy, Family
1                            None  65000000  Adventure, Fantasy, Family
2       Grumpy Old Men Collection         0             Romance, Comedy
3                            None  16000000      Comedy, Drama, Romance
4  Father of the Bride Collection         0                      Comedy

      id original_language                                           overview  \
0    862                en  Led by Woody, Andy's toys live happily in his ...
1   8844                en  When siblings Judy and Peter discover an encha...
2  15602                en  A family wedding reignites the ancient feud be...
3  31357                en  Cheated on, mistreated and stepped on, the wom...
4  11862                en  Just when George Banks has recovered from his ...

  popularity                               production_companies  \
0  21.946943                            Pixar Animation Studios
1  17.015539  TriStar Pictures, Teitler Film, Interscope Com...
2    11.7129                       Warner Bros., Lancaster Gate
3   3.859495             Twentieth Century Fox Film Corporation
4   8.387519         Sandollar Productions, Touchstone Pictures

       production_countries release_date  ...   spoken_languages    status  \
0  United States of America   1995-10-30  ...            English  Released
1  United States of America   1995-12-15  ...  English, Français  Released
2  United States of America   1995-12-22  ...            English  Released
3  United States of America   1995-12-22  ...            English  Released
4  United States of America   1995-02-10  ...            English  Released

                                             tagline  \
0                                                NaN
1          Roll the dice and unleash the excitement!
2  Still Yelling. Still Fighting. Still Ready for...
3  Friends are the people who let you be yourself...
4  Just When His World Is Back To Normal... He's ...

                         title vote_average vote_count  \
0                    Toy Story          7.7     5415.0
1                      Jumanji          6.9     2413.0
2             Grumpier Old Men          6.5       92.0
3            Waiting to Exhale          6.1       34.0
4  Father of the Bride Part II          5.7      173.0

                                              cast    name_director  \
0                Tom Hanks, Tim Allen, Don Rickles    John Lasseter
1     Robin Williams, Jonathan Hyde, Kirsten Dunst     Joe Johnston
2         Walter Matthau, Jack Lemmon, Ann-Margret    Howard Deutch
3  Whitney Houston, Angela Bassett, Loretta Devine  Forest Whitaker
4         Steve Martin, Diane Keaton, Martin Short    Charles Shyer

  release_year     return
0         1995  12.451801
1         1995   4.043035
2         1995   0.000000
3         1995   5.090760
4         1995   0.000000

[5 rows x 22 columns]